/*
	// HTML
	<span class="inputRadio">
		<input type="radio" id="radio1" /><label for="radio1">Input1</label>
	</span>
	<span class="inputRadio">
		<input type="radio" id="radio2" /><label for="radio2">Input2</label>
	<span class="inputRadio">
	</span>
		<input type="radio" id="radio3" /><label for="radio3">Input3</label>
	</span>

	// SCSS
	.inputRadio{
		input{ @include input-radio(); }
	}
*/

@mixin input-radio($width: 1rem, $height: 1rem, $margin: 0, $spacing: 0.2rem, $bg-body: color(White), $bg-check: color(Black), $round: 50%){
	&{
		display: none;
	}
	@include parent{
		input[type=radio]+label{
			padding-left: $width + $margin; position: relative; cursor: pointer;
			&:before{
				content: ""; display: block; position: absolute; left: 0; top: 0; width: $width; height: $height; background: $bg-body;
				@if $round != 0{
					border-radius: $round;
				}
			}
			&:after{
				content: ""; display: block; position: absolute; left: $spacing; top: $spacing; width: ($width - ($spacing*2)); height: ($width - ($spacing*2)); background: $bg-check; border-radius: $round; opacity: 0; transition: $transition;
			}
		}
		input[type=radio]:checked{
			&+label:after{
				opacity: 1; transition: $transition;
			}
		}
	}
}
@mixin input-checkbox($width: 1rem, $height: 1rem, $margin: 0, $spacing: 0.2rem, $bg-body: color(White), $bg-check: color(Black), $round: 50%){
	&{
		display: none;
	}
	@include parent{
		input[type=checkbox]+label{
			padding-left: $width + $margin; position: relative; cursor: pointer;
			&:before{
				content: ""; display: block; position: absolute; left: 0; top: 0; width: $width; height: $height; background: $bg-body;
				@if $round != 0{
					border-radius: $round;
				}
			}
			&:after{
				content: ""; display: block; position: absolute; left: $spacing; top: $spacing; width: ($width - ($spacing*2)); height: ($width - ($spacing*2)); background: $bg-check; border-radius: $round; opacity: 0; transition: $transition;
			}
		}
		input[type=checkbox]:checked{
			&+label:after{
				opacity: 1; transition: $transition;
			}
		}
	}
}
@mixin input-body{
	@include parent{
		input+label{
			&:before{
				@content;
			}
		}
	}
}
@mixin input-label{
	@include parent{
		input+label{
			@content;
		}
	}
}
@mixin input-check{
	@include parent{
		input:checked+label:after{
			@content;
		}
	}
}
@mixin input-body-checked{
	@include parent{
		input:checked+label{
			&:before{
				@content;
			}
		}
	}
}
@mixin input-label-checked{
	@include parent{
		input:checked+label{
			@content;
		}
	}
}
$input-types: (
  (button,button),
  (checkbox,check),
  (color,button),
  (date,button),
  (datetime, text),
  (datetime-local,text),
  (email,text ),
  (file,text),
  (hidden,hidden),
  (image,text),
  (month,text),
  (number,text),
  (password,text),
  (radio,radio),
  (range,slider),
  (reset,button),
  (search,text),
  (submit,button),
  (tel,text),
  (text,text),
  (time,text),
  (url,text),
  (week,text)
);

@mixin input-type($type){
	input{
		$input-list: input-list($type);
		#{$input-list}{
			@content;
		}
	}
}

@function input-list($type){
	$i: 0; $list: "";
	@each $input in $input-types{
		@if nth($input,2) == $type{
			$i: $i + 1;
			@if $i>1{
				$list: $list + ",";
			}
			$list: $list + "&[type=\"#{nth($input,1)}\"]";
		}
	}
	@return $list;
}
