$colors:(
	"jacksBlack": #000,
	"jacksWhite": #FFF,
	"bali": #FFD313,
	"baliDark": #EDB214,
	"maldives": #03C7EC,
	"maldivesDark": #00BADC,
	"miami": #21D2CE,
	"miamiDark": #0BB4AF,
	"monaco": #0FECC5,
	"monacoDark": #01DC9D,
	"ny": #A8DF32,
	"nyDark": #97D13D,
	"carpetRed": #d01212,
	"borderGray": #d9d9d9,
	"flipGrayLight": #303030,
	"flipGrayDark": #151515,
	"seatGray": #dcdcdc,
	"seatRed": #870707,
	"seatRedDark": #7b0000,
	"seatRedLight": #e45e5e ,
	"seatGreen": #91cb4c,
	"whatsappGreen": #29c540
);

$jacksBlack: color(jacksBlack);
$jacksWhite: color(jacksWhite);
$bali: color(bali);
$baliDark: color(baliDark);
$maldives: color(maldives);
$maldivesDark: color(maldivesDark);
$miami: color(miami);
$miamiDark: color(miamiDark);
$monaco: color(monaco);
$monacoDark: color(monacoDark);
$ny: color(ny);
$nyDark: color(nyDark);
$carpetRed: color(carpetRed);
$borderGray: color(borderGray);
$seatGray: color(seatGray);
$seatRed: color(seatRed);
$seatRedDark: color(seatRedDark);
$seatRedLight: color(seatRedLight);
$seatGreen: color(seatGreen);
$flipGrayLight: color(flipGrayLight);
$flipGrayDark: color(flipGrayDark);
$whatsappGreen: color(whatsappGreen);
