<% if (foundationInclude) { %>
// foundation
@import
  "zurb/zurb";
<% } %>

// main styles
@import
  "functions/functions",
  "mixins/mixins",
  "color/color",
	"base",
	"grid/grid",
  "typography/typography",
  "icons",
  "slick";
@import
  "elements/elements",
  "components/components";

<% if (foundationInclude) { %>// Foundation margin and padding reset
.row{
	&,.row{ margin: 0; padding: 0;
		.column,.columns{margin: 0; padding: 0; }
	}
}<% } %>

body{
	animation: fadeColor 5s infinite;
  @at-root{
    @include keyframes(fadeColor){
      0%{ background-color: lime; }
      10%{ background-color: yellow; }
      20%{ background-color: orange; }
      30%{ background-color: red; }
      40%{ background-color: magenta; }
      50%{ background-color: purple; }
      60%{ background-color: blue; }
      70%{ background-color: skyblue; }
      80%{ background-color: lightblue; }
      90%{ background-color: turquoise; }
      100%{ background-color: lime; }
    }
  }
}
