<div class="kitchensink">
  <div class="controls">
    <a ng-click="addClass('show-borders')">borders</a>
    <a ng-click="addClass('show-backgrounds')">backgrounds</a>
  </div>
  <section title="intro">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h1>The KitchenSink epicness</h1>
        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

      </div>
    </div>
  </section>
  <section title="unordered list">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h2>Header Level 2</h2>
        <ol>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

      </div>
    </div>
  </section>

  <section title="blockquote">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida.</p>
          <p>Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
        </blockquote>


      </div>
    </div>
  </section>

  <section title="ordered list">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h3>Header Level 3</h3>

        <ul>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>

      </div>
    </div>
  </section>


  <section title="headers">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h1>Header Level 3</h1>
        <h2>Header Level 3</h2>
        <h3>Header Level 3</h3>
        <h4>Header Level 3</h4>
        <h5>Header Level 5</h5>
        <h6>Header Level 6</h6>

      </div>
    </div>
  </section>



  <section title="sub headers">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h1 class="sub">Header Level 1</h1>
        <h2 class="sub">Header Level 2</h2>
        <h3 class="sub">Header Level 3</h3>
        <h4 class="sub">Header Level 4</h4>
        <h5 class="sub">Header Level 5</h5>
        <h6 class="sub">Header Level 6</h6>

      </div>
    </div>
  </section>


  <section title="code block">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

      <pre><code>
      #header h1 a {
      	display: block;
      	width: 300px;
      	height: 80px;
      }
      </code></pre>

      </div>
    </div>
  </section>


  <section title="header combinations">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

        <h1 class="sub">Header Level 1</h1>
        <p></p>
        <h2 class="sub">Header Level 2</h2>
        <h3 class="sub">Header Level 3</h3>
        <h4 class="sub">Header Level 4</h4>
        <h5 class="sub">Header Level 5</h5>
        <h6 class="sub">Header Level 6</h6>

      </div>
    </div>
  </section>


  <section title="header with paragraph">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">

          <h1>Header Level 1</h1>
          <p>Aenean vitae tincidunt velit. Maecenas volutpat dolor justo. Donec leo erat, dictum bibendum eleifend vel, finibus vitae eros. Pellentesque mi est, tincidunt non consectetur a, maximus eu nunc. Sed porttitor volutpat metus in ullamcorper. </p>

          <h2>Header Level 2</h2>
          <p>Morbi gravida justo vitae leo volutpat convallis. Curabitur ullamcorper sapien eros. Praesent ipsum urna, efficitur eget urna ac, efficitur aliquet arcu. Donec quis elit volutpat, volutpat quam quis, ornare leo. Fusce eleifend sagittis purus, eget porta leo iaculis id. In euismod tincidunt interdum. Morbi interdum est sed ex tempus lacinia. In hac habitasse platea dictumst.</p>

          <h3>Header Level 3</h3>
          <p>Pellentesque sollicitudin arcu sed libero efficitur convallis. Curabitur tincidunt tempus justo eu convallis. Pellentesque laoreet scelerisque dictum. Sed eu sodales dui. Morbi vel nisi eu dolor egestas tincidunt vitae ut lectus.</p>

          <h4>Header Level 4</h4>
          <p>Nulla aliquet et tellus non pellentesque. Sed arcu nibh, aliquet vitae dui et, interdum tempor felis. Aenean vitae lobortis nisi. Nullam ac risus eu erat ultrices feugiat.</p>

          <h5>Header Level 5</h5>
          <p>Mauris aliquet quis lectus quis rutrum. Quisque blandit metus a lectus tincidunt, in dignissim quam commodo. Integer tristique tincidunt tristique. Vivamus maximus leo at sem lacinia accumsan.</p>

          <h6>Header Level 6</h6>
          <p>Morbi gravida justo vitae leo volutpat convallis. Curabitur ullamcorper sapien eros. Praesent ipsum urna, efficitur eget urna ac, efficitur aliquet arcu. Donec quis elit volutpat, volutpat quam quis, ornare leo. Fusce eleifend sagittis purus, eget porta leo iaculis id. In euismod tincidunt interdum. Morbi interdum est sed ex tempus lacinia. In hac habitasse platea dictumst.</p>

        </div>
      </div>
    </section>

    <section title="paragraphs">
      <div class="row">
        <div class="column small-12 medium-6 medium-offset-3">
          <p><strong>Nulla aliquet et tellus non pellentesque. Sed arcu nibh, aliquet vitae dui et, interdum tempor felis. Aenean vitae lobortis nisi. Nullam ac risus eu erat ultrices feugiat.</strong></p>

          <p>Mauris aliquet quis lectus quis rutrum. Quisque blandit metus a lectus tincidunt, in dignissim quam commodo. Integer tristique tincidunt tristique. Vivamus maximus leo at sem lacinia accumsan.</p>

          <p>Morbi gravida justo vitae leo volutpat convallis. Curabitur ullamcorper sapien eros. Praesent ipsum urna, efficitur eget urna ac, efficitur aliquet arcu. Donec quis elit volutpat, volutpat quam quis, ornare leo. Fusce eleifend sagittis purus, eget porta leo iaculis id. In euismod tincidunt interdum. Morbi interdum est sed ex tempus lacinia. In hac habitasse platea dictumst.</p>
        </div>
      </div>
    </section>

    <section title="forms">
      <div class="row">
        <div class="column small-12 medium-6 medium-offset-3">
          <form>

            <label>First Name</label>
            <input type="text" placeholder="First Name" />
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" />
            <label>E-mail address</label>
            <input type="email" placeholder="E-mail address" />
            <label>E-mail address again</label>
            <input type="email" placeholder="E-mail address" />

            <hr />

              <label>Username</label>
              <input type="text" placeholder="Username" />
              <label>Password</label>
              <input type="text" placeholder="Password" />
          </form>
        </div>
      </div>
    </section>

    <section title="tables">
      <div class="row">
        <div class="column small-12 medium-6 medium-offset-3">
          <table class="table--bordered table--striped table--data">
          	<thead>
          		<tr>
          			<th colspan="3">Foo</th>
          			<th>Bar</th>
          		</tr>
          		<tr>
          			<th>Lorem</th>
          			<th>Ipsum</th>
          			<th class="numerical">Dolor</th>
          			<th>Sit</th>
          		</tr>
          	</thead>
          	<tbody>
          		<tr>
          			<th rowspan="3">Sit</th>
          			<td>Dolor</td>
          			<td class="numerical">03.788</td>
          			<td>Lorem</td>
          		</tr>
          		<tr>
          			<td>Dolor</td>
          			<td class="numerical">32.210</td>
          			<td>Lorem</td>
          		</tr>
          		<tr>
          			<td>Dolor</td>
          			<td class="numerical">47.797</td>
          			<td>Lorem</td>
          		</tr>
          		<tr>
          			<th rowspan="2">Sit</th>
          			<td>Dolor</td>
          			<td class="numerical">09.640</td>
          			<td>Lorem</td>
          		</tr>
          		<tr>
          			<td>Dolor</td>
          			<td class="numerical">12.117</td>
          			<td>Lorem</td>
          		</tr>
          	</tbody>
            <thead>
              <tr>
                <th colspan="3">Foo</th>
                <th>Bar</th>
              </tr>
              <tr>
                <th>Lorem</th>
                <th>Ipsum</th>
                <th class="numerical">Dolor</th>
                <th>Sit</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>

  </div>
</div>
